[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
isort = "*"
pytest-mock = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pre-commit = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-fixme = "*"
flake8-bugbear = "*"
flake8-eradicate = "*"
flake8-black = "*"
flake8-debugger = "*"
flake8-variables-names = "*"
flake8-isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[packages]
lambda-python-powertools = {editable = true,path = "."}
