[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
isort = "*"
pytest-mock = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[packages]
lambda-python-powertools = {editable = true,path = "."}
