// Raleway font
@import url('https://fonts.googleapis.com/css?family=Raleway')

// Shared variables
$primary = #861C6A
$secondary = #FA3336
$field-icon-size = 43px
$item-icon-size = 43px
$typography-font-family = 'Raleway', 'Open Sans', sans-serif
$content-toolbar-margin = 5rem
$between-content-margin = 0.4rem 0

// Shared classes
.heading
  margin-top 2.5rem
  color $primary

.wrapper
  text-align center
  margin 1rem 0

.cta__button
  text-transform uppercase
  list-style-type none
  font-size 1.2rem
  margin 1rem 0
  color $primary
  justify-content center
  font-weight 500

a
  text-decoration none
