[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cfn-lint = "*"
black = "*"
pytest-mock = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-fixme = "*"
flake8-bugbear = "*"
flake8-eradicate = "*"
flake8-black = "*"
flake8-debugger = "*"
flake8-variables-names = "*"
isort = "*"

[packages]
boto3 = "==1.14.16"
requests = "==2.24.0"
aws-lambda-powertools = "==1.0.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
