// It's highly recommended to change the default colors
// to match your app's branding.

// Branding and Airline overrides

$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables'
@import 'branding'